.navbar-logo {
  height: 45px; /* adjust as needed */
  width: auto;
  object-fit: contain;
}

.branding-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.branding-logo img {
  height: 70px;
  width: auto;
  max-width: 100%;
  display: block;

  filter: brightness(0) saturate(100%) invert(63%) sepia(45%) saturate(500%)
    hue-rotate(170deg);
}

.hero-section {
  width: 100%;
  overflow: hidden;
}

/* Image sizing */
.carousel-img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

/* Caption styling */
.carousel-caption {
  background: rgba(0, 0, 0, 0.45);
  padding: 20px;
  border-radius: 8px;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .carousel-img {
    height: 60vh;
  }

  .carousel-caption {
    bottom: 15%;
    padding: 12px;
  }

  .carousel-caption h5 {
    font-size: 18px;
  }

  .carousel-caption span {
    font-size: 14px;
  }
}
